{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- UPDATE COMMENT SECTION -->
    <div class="edit-comments container box-shadow">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="title">Edit Comment</h1>
                <p>Edit comment as: {{ user.username | slice:":10" }}</p>
                
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary right mb-4" type="submit" value="Save">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- END UPDATE COMMENT SECTION  -->

    {% endblock content %}